## Basic Data Transformation in Python using a CSV File (Numeric, String, Date, Boolean)

### 1. Import libraries and Load Data

In [1]:
import pandas as pd

# Replace 'data.csv' with your actual file path
data = pd.read_csv("Basic_data.csv")

print(data)

     AccID      Name Gender  Age    AccOpen  Balance AccStatus
0   ACC001       Raj      M   30  01-JAN-20     5000    Active
1   ACC002      Riya      F   29  01-JAN-21     8000  Inactive
2   ACC003      Amit      M   35  02-FEB-20    12000    Active
3   ACC004     Priya      F   28  02-FEB-21     4500    Active
4   ACC005    Vikram      M   40  03-MAR-20     7800    Active
5   ACC006     Sonia      F   32  03-MAR-21     9200  Inactive
6   ACC007     Rahul      M   25  04-APR-20    10500    Active
7   ACC008     Pooja      F   22  04-APR-21     3800    Active
8   ACC009     Sunil      M   50  05-MAY-20    25000    Active
9   ACC010    Anjali      F   45  05-MAY-21    18000    Active
10  ACC011     Vivek      M   38  06-JUN-20    11200    Active
11  ACC012      Neha      F   31  06-JUN-21     6700    Active
12  ACC013     Rohit      M   27  07-JUL-20     9800    Active
13  ACC014     Aisha      F   24  07-JUL-21     5200    Active
14  ACC015    Manish      M   42  08-AUG-20    14000    Active
15  ACC016     Kiara      F   36  08-AUG-21     7500    Active
16  ACC017     Sagar      M   33  09-SEP-20     8900    Active
17  ACC018      Rani      F   26  09-SEP-21     4100    Active
18  ACC019      Ajay      M   55  10-OCT-20    32000    Active
19  ACC020     Seema      F   48  10-OCT-21    21000    Active
20  ACC021      Atul      M   41  11-NOV-20    13500    Active
21  ACC022    Nikita      F   34  11-NOV-21     8100    Active
22  ACC023     Kapil      M   29  12-DEC-20    10200    Active
23  ACC024     Nisha      F   23  12-DEC-21     6000    Active
24  ACC025    Deepak      M   37  01-JAN-22    15800    Active
25  ACC026      Sita      F   30  01-JAN-23     9400    Active
26  ACC027     Arjun      M   44  02-FEB-22    17000  DeActive
27  ACC028    Sunita      F    3  32-FEB-23    11000    Active
28  ACC029      Yash      M   99  03-MAR-22     8500    Active
29  ACC030  Priyanka    NaN   21  03-MAR-23     4900    Active

### 2. Numeric Data Transformations 

Calculations: You can perform arithmetic operations, statistical functions, and aggregations on numeric columns.

In [2]:
# Example: Calculate average of a numeric column ('Age')
average_age = data["Age"].mean()
print("Average Age:", average_age)

# Example: Find minimum and maximum values
data_range = (data["Balance"].min(), data["Balance"].max())
print("Minimum and Maximum Balance :", data_range)

Average Age: 35.233333333333334
Minimum and Maximum Balance : (3800, 32000)

### Binning: Create categories from continuous numeric data.

In [3]:
# Example: Create bins for 'Income' (replace bin ranges as needed)
bins = [0, 25000, 50000, 100000]
labels = ["Low", "Medium", "High"]
data["Income_Category"] = pd.cut(data["Balance"], bins, labels=labels)
print(data[["Balance", "Income_Category"]].head())

   Balance Income_Category
0     5000             Low
1     8000             Low
2    12000             Low
3     4500             Low
4     7800             Low

### 3. String Data Transformations

Cleaning: Remove whitespaces, convert to uppercase/lowercase, or fix inconsistencies.

In [4]:
# Example: Remove leading/trailing whitespaces from 'Name'
data["Name"] = data["Name"].str.strip()


# Example: Convert 'City' to uppercase
data["AccStatus"] = data["AccStatus"].str.upper()

print(data)

     AccID      Name Gender  Age    AccOpen  Balance AccStatus Income_Category
0   ACC001       Raj      M   30  01-JAN-20     5000    ACTIVE             Low
1   ACC002      Riya      F   29  01-JAN-21     8000  INACTIVE             Low
2   ACC003      Amit      M   35  02-FEB-20    12000    ACTIVE             Low
3   ACC004     Priya      F   28  02-FEB-21     4500    ACTIVE             Low
4   ACC005    Vikram      M   40  03-MAR-20     7800    ACTIVE             Low
5   ACC006     Sonia      F   32  03-MAR-21     9200  INACTIVE             Low
6   ACC007     Rahul      M   25  04-APR-20    10500    ACTIVE             Low
7   ACC008     Pooja      F   22  04-APR-21     3800    ACTIVE             Low
8   ACC009     Sunil      M   50  05-MAY-20    25000    ACTIVE             Low
9   ACC010    Anjali      F   45  05-MAY-21    18000    ACTIVE             Low
10  ACC011     Vivek      M   38  06-JUN-20    11200    ACTIVE             Low
11  ACC012      Neha      F   31  06-JUN-21     6700    ACTIVE             Low
12  ACC013     Rohit      M   27  07-JUL-20     9800    ACTIVE             Low
13  ACC014     Aisha      F   24  07-JUL-21     5200    ACTIVE             Low
14  ACC015    Manish      M   42  08-AUG-20    14000    ACTIVE             Low
15  ACC016     Kiara      F   36  08-AUG-21     7500    ACTIVE             Low
16  ACC017     Sagar      M   33  09-SEP-20     8900    ACTIVE             Low
17  ACC018      Rani      F   26  09-SEP-21     4100    ACTIVE             Low
18  ACC019      Ajay      M   55  10-OCT-20    32000    ACTIVE          Medium
19  ACC020     Seema      F   48  10-OCT-21    21000    ACTIVE             Low
20  ACC021      Atul      M   41  11-NOV-20    13500    ACTIVE             Low
21  ACC022    Nikita      F   34  11-NOV-21     8100    ACTIVE             Low
22  ACC023     Kapil      M   29  12-DEC-20    10200    ACTIVE             Low
23  ACC024     Nisha      F   23  12-DEC-21     6000    ACTIVE             Low
24  ACC025    Deepak      M   37  01-JAN-22    15800    ACTIVE             Low
25  ACC026      Sita      F   30  01-JAN-23     9400    ACTIVE             Low
26  ACC027     Arjun      M   44  02-FEB-22    17000  DEACTIVE             Low
27  ACC028    Sunita      F    3  32-FEB-23    11000    ACTIVE             Low
28  ACC029      Yash      M   99  03-MAR-22     8500    ACTIVE             Low
29  ACC030  Priyanka    NaN   21  03-MAR-23     4900    ACTIVE             Low

### Extracting Information: Use regular expressions for complex string manipulation.

In [5]:
# Example: Extract initials from 'Name' (assuming format: Last, First Middle)
data["Initials"] = data["Name"].str.split(expand=True)[0].str[:2]
print(data[["Name", "Initials"]].head())

     Name Initials
0     Raj       Ra
1    Riya       Ri
2    Amit       Am
3   Priya       Pr
4  Vikram       Vi

### 4. Date Data Transformations

Date/Time Calculations: Add/subtract time periods, extract components like year or month.

In [6]:
# Example: Calculate 'Joined' date one year before current date

data["Joined"] = pd.to_datetime(data["AccOpen"])
data["Joined_PreviousYear"] = data["Joined"] - pd.DateOffset(years=1)

# Example: Extract year from 'OrderDate'
data["JoinedYear"] = data["Joined"].dt.year

print(data.head())

    AccID    Name Gender  Age    AccOpen  Balance AccStatus Income_Category  \
0  ACC001     Raj      M   30  01-JAN-20     5000    ACTIVE             Low
1  ACC002    Riya      F   29  01-JAN-21     8000  INACTIVE             Low
2  ACC003    Amit      M   35  02-FEB-20    12000    ACTIVE             Low
3  ACC004   Priya      F   28  02-FEB-21     4500    ACTIVE             Low
4  ACC005  Vikram      M   40  03-MAR-20     7800    ACTIVE             Low

  Initials     Joined Joined_PreviousYear  JoinedYear
0       Ra 2020-01-01          2019-01-01        2020
1       Ri 2021-01-01          2020-01-01        2021
2       Am 2020-02-02          2019-02-02        2020
3       Pr 2021-02-02          2020-02-02        2021
4       Vi 2020-03-03          2019-03-03        2020

### Formatting: Change the display format of dates

In [7]:
# Example: Format 'BirthDate' as YYYY-MM-DD
data["JoinedYearMth"] = data["Joined"].dt.strftime("%Y-%m")

print(data.head())

    AccID    Name Gender  Age    AccOpen  Balance AccStatus Income_Category  \
0  ACC001     Raj      M   30  01-JAN-20     5000    ACTIVE             Low
1  ACC002    Riya      F   29  01-JAN-21     8000  INACTIVE             Low
2  ACC003    Amit      M   35  02-FEB-20    12000    ACTIVE             Low
3  ACC004   Priya      F   28  02-FEB-21     4500    ACTIVE             Low
4  ACC005  Vikram      M   40  03-MAR-20     7800    ACTIVE             Low

  Initials     Joined Joined_PreviousYear  JoinedYear JoinedYearMth
0       Ra 2020-01-01          2019-01-01        2020       2020-01
1       Ri 2021-01-01          2020-01-01        2021       2021-01
2       Am 2020-02-02          2019-02-02        2020       2020-02
3       Pr 2021-02-02          2020-02-02        2021       2021-02
4       Vi 2020-03-03          2019-03-03        2020       2020-03

## 5. Boolean Data Transformations

Logical Operations: Combine boolean columns or create new conditions.

In [8]:
data["IsVIP"] = (data["Age"] > 35) & (data["Balance"] > 5000)

print(data)

     AccID      Name Gender  Age    AccOpen  Balance AccStatus  \
0   ACC001       Raj      M   30  01-JAN-20     5000    ACTIVE
1   ACC002      Riya      F   29  01-JAN-21     8000  INACTIVE
2   ACC003      Amit      M   35  02-FEB-20    12000    ACTIVE
3   ACC004     Priya      F   28  02-FEB-21     4500    ACTIVE
4   ACC005    Vikram      M   40  03-MAR-20     7800    ACTIVE
5   ACC006     Sonia      F   32  03-MAR-21     9200  INACTIVE
6   ACC007     Rahul      M   25  04-APR-20    10500    ACTIVE
7   ACC008     Pooja      F   22  04-APR-21     3800    ACTIVE
8   ACC009     Sunil      M   50  05-MAY-20    25000    ACTIVE
9   ACC010    Anjali      F   45  05-MAY-21    18000    ACTIVE
10  ACC011     Vivek      M   38  06-JUN-20    11200    ACTIVE
11  ACC012      Neha      F   31  06-JUN-21     6700    ACTIVE
12  ACC013     Rohit      M   27  07-JUL-20     9800    ACTIVE
13  ACC014     Aisha      F   24  07-JUL-21     5200    ACTIVE
14  ACC015    Manish      M   42  08-AUG-20    14000    ACTIVE
15  ACC016     Kiara      F   36  08-AUG-21     7500    ACTIVE
16  ACC017     Sagar      M   33  09-SEP-20     8900    ACTIVE
17  ACC018      Rani      F   26  09-SEP-21     4100    ACTIVE
18  ACC019      Ajay      M   55  10-OCT-20    32000    ACTIVE
19  ACC020     Seema      F   48  10-OCT-21    21000    ACTIVE
20  ACC021      Atul      M   41  11-NOV-20    13500    ACTIVE
21  ACC022    Nikita      F   34  11-NOV-21     8100    ACTIVE
22  ACC023     Kapil      M   29  12-DEC-20    10200    ACTIVE
23  ACC024     Nisha      F   23  12-DEC-21     6000    ACTIVE
24  ACC025    Deepak      M   37  01-JAN-22    15800    ACTIVE
25  ACC026      Sita      F   30  01-JAN-23     9400    ACTIVE
26  ACC027     Arjun      M   44  02-FEB-22    17000  DEACTIVE
27  ACC028    Sunita      F    3  32-FEB-23    11000    ACTIVE
28  ACC029      Yash      M   99  03-MAR-22     8500    ACTIVE
29  ACC030  Priyanka    NaN   21  03-MAR-23     4900    ACTIVE

   Income_Category Initials     Joined Joined_PreviousYear  JoinedYear  \
0              Low       Ra 2020-01-01          2019-01-01        2020
1              Low       Ri 2021-01-01          2020-01-01        2021
2              Low       Am 2020-02-02          2019-02-02        2020
3              Low       Pr 2021-02-02          2020-02-02        2021
4              Low       Vi 2020-03-03          2019-03-03        2020
5              Low       So 2021-03-03          2020-03-03        2021
6              Low       Ra 2020-04-04          2019-04-04        2020
7              Low       Po 2021-04-04          2020-04-04        2021
8              Low       Su 2020-05-05          2019-05-05        2020
9              Low       An 2021-05-05          2020-05-05        2021
10             Low       Vi 2020-06-06          2019-06-06        2020
11             Low       Ne 2021-06-06          2020-06-06        2021
12             Low       Ro 2020-07-07          2019-07-07        2020
13             Low       Ai 2021-07-07          2020-07-07        2021
14             Low       Ma 2020-08-08          2019-08-08        2020
15             Low       Ki 2021-08-08          2020-08-08        2021
16             Low       Sa 2020-09-09          2019-09-09        2020
17             Low       Ra 2021-09-09          2020-09-09        2021
18          Medium       Aj 2020-10-10          2019-10-10        2020
19             Low       Se 2021-10-10          2020-10-10        2021
20             Low       At 2020-11-11          2019-11-11        2020
21             Low       Ni 2021-11-11          2020-11-11        2021
22             Low       Ka 2020-12-12          2019-12-12        2020
23             Low       Ni 2021-12-12          2020-12-12        2021
24             Low       De 2022-01-01          2021-01-01        2022
25             Low       Si 2023-01-01          2022-01-01        2023
26             Low       Ar 2022-02-02          2021-02-02        2022
27             Low       Su 2032-02-23          2031-02-23        2032
28             Low       Ya 2022-03-03          2021-03-03        2022
29             Low       Pr 2023-03-03          2022-03-03        2023

   JoinedYearMth  IsVIP
0        2020-01  False
1        2021-01  False
2        2020-02  False
3        2021-02  False
4        2020-03   True
5        2021-03  False
6        2020-04  False
7        2021-04  False
8        2020-05   True
9        2021-05   True
10       2020-06   True
11       2021-06  False
12       2020-07  False
13       2021-07  False
14       2020-08   True
15       2021-08   True
16       2020-09  False
17       2021-09  False
18       2020-10   True
19       2021-10   True
20       2020-11   True
21       2021-11  False
22       2020-12  False
23       2021-12  False
24       2022-01   True
25       2023-01  False
26       2022-02   True
27       2032-02  False
28       2022-03   True
29       2023-03  False

# Remember:

Explore other pandas functionalities for more advanced transformations (e.g., missing value handling, merging/joining DataFrames).

Adapt the examples to your specific data and desired transformations.


By mastering these basic techniques, you can effectively manipulate and reshape your data from the CSV file for further analysis and reporting.