## 1. Import libraries and Load Data:

In [1]:
import pandas as pd

# Replace 'your_data.csv' with your actual file path
data = pd.read_csv("Basic_data.csv")


print(data)

     AccID      Name Gender  Age    AccOpen  Balance AccStatus
0   ACC001       Raj      M   30  01-JAN-20     5000    Active
1   ACC002      Riya      F   29  01-JAN-21     8000  Inactive
2   ACC003      Amit      M   35  02-FEB-20    12000    Active
3   ACC004     Priya      F   28  02-FEB-21     4500    Active
4   ACC005    Vikram      M   40  03-MAR-20     7800    Active
5   ACC006     Sonia      F   32  03-MAR-21     9200  Inactive
6   ACC007     Rahul      M   25  04-APR-20    10500    Active
7   ACC008     Pooja      F   22  04-APR-21     3800    Active
8   ACC009     Sunil      M   50  05-MAY-20    25000    Active
9   ACC010    Anjali      F   45  05-MAY-21    18000    Active
10  ACC011     Vivek      M   38  06-JUN-20    11200    Active
11  ACC012      Neha      F   31  06-JUN-21     6700    Active
12  ACC013     Rohit      M   27  07-JUL-20     9800    Active
13  ACC014     Aisha      F   24  07-JUL-21     5200    Active
14  ACC015    Manish      M   42  08-AUG-20    14000    Active
15  ACC016     Kiara      F   36  08-AUG-21     7500    Active
16  ACC017     Sagar      M   33  09-SEP-20     8900    Active
17  ACC018      Rani      F   26  09-SEP-21     4100    Active
18  ACC019      Ajay      M   55  10-OCT-20    32000    Active
19  ACC020     Seema      F   48  10-OCT-21    21000    Active
20  ACC021      Atul      M   41  11-NOV-20    13500    Active
21  ACC022    Nikita      F   34  11-NOV-21     8100    Active
22  ACC023     Kapil      M   29  12-DEC-20    10200    Active
23  ACC024     Nisha      F   23  12-DEC-21     6000    Active
24  ACC025    Deepak      M   37  01-JAN-22    15800    Active
25  ACC026      Sita      F   30  01-JAN-23     9400    Active
26  ACC027     Arjun      M   44  02-FEB-22    17000  DeActive
27  ACC028    Sunita      F    3  32-FEB-23    11000    Active
28  ACC029      Yash      M   99  03-MAR-22     8500    Active
29  ACC030  Priyanka    NaN   21  03-MAR-23     4900    Active

## 2. Sum of a Numeric Column

In [2]:
# Calculate the total balance of all accounts
total_balance = data["Balance"].sum()
print("Total Balance:", total_balance)

Total Balance: 328600

## 3. Average of a Numeric Column

In [3]:
# Find the average age of account holders
average_age = data["Age"].mean()
print("Average Age:", average_age)

Average Age: 35.233333333333334

## 4. Minimum and Maximum Values

In [4]:
# Get the minimum and maximum balance values
balance_extremes = (data["Balance"].min(), data["Balance"].max())
print("Minimum and Maximum Balance:", balance_extremes)

Minimum and Maximum Balance: (3800, 32000)

## 5. Grouping and Aggregation:

In [5]:
# Calculate average balance by gender (assuming 'Gender' is M/F)
avg_balance_by_gender = data.groupby("Gender")["Balance"].mean()
print("Average Balance by Gender:", avg_balance_by_gender)

Average Balance by Gender: Gender
F     8750.000000
M    13413.333333
Name: Balance, dtype: float64