## 1. Import libraries and Load Data:

We convert the 'AccOpen' column from strings to datetime format using pd.to_datetime() for date-based operations.

In [2]:
import pandas as pd

# Replace 'your_data.csv' with your actual file path
data = pd.read_csv("Basic_data.csv")

# Assuming 'AccOpen' is a string in 'DD-MON-YYYY' format
data["AccOpen"] = pd.to_datetime(data["AccOpen"])


print(data)

     AccID      Name Gender  Age    AccOpen  Balance AccStatus
0   ACC001       Raj      M   30 2020-01-01     5000    Active
1   ACC002      Riya      F   29 2021-01-01     8000  Inactive
2   ACC003      Amit      M   35 2020-02-02    12000    Active
3   ACC004     Priya      F   28 2021-02-02     4500    Active
4   ACC005    Vikram      M   40 2020-03-03     7800    Active
5   ACC006     Sonia      F   32 2021-03-03     9200  Inactive
6   ACC007     Rahul      M   25 2020-04-04    10500    Active
7   ACC008     Pooja      F   22 2021-04-04     3800    Active
8   ACC009     Sunil      M   50 2020-05-05    25000    Active
9   ACC010    Anjali      F   45 2021-05-05    18000    Active
10  ACC011     Vivek      M   38 2020-06-06    11200    Active
11  ACC012      Neha      F   31 2021-06-06     6700    Active
12  ACC013     Rohit      M   27 2020-07-07     9800    Active
13  ACC014     Aisha      F   24 2021-07-07     5200    Active
14  ACC015    Manish      M   42 2020-08-08    14000    Active
15  ACC016     Kiara      F   36 2021-08-08     7500    Active
16  ACC017     Sagar      M   33 2020-09-09     8900    Active
17  ACC018      Rani      F   26 2021-09-09     4100    Active
18  ACC019      Ajay      M   55 2020-10-10    32000    Active
19  ACC020     Seema      F   48 2021-10-10    21000    Active
20  ACC021      Atul      M   41 2020-11-11    13500    Active
21  ACC022    Nikita      F   34 2021-11-11     8100    Active
22  ACC023     Kapil      M   29 2020-12-12    10200    Active
23  ACC024     Nisha      F   23 2021-12-12     6000    Active
24  ACC025    Deepak      M   37 2022-01-01    15800    Active
25  ACC026      Sita      F   30 2023-01-01     9400    Active
26  ACC027     Arjun      M   44 2022-02-02    17000  DeActive
27  ACC028    Sunita      F    3 2032-02-23    11000    Active
28  ACC029      Yash      M   99 2022-03-03     8500    Active
29  ACC030  Priyanka    NaN   21 2023-03-03     4900    Active

## 2. Finding Minimum and Maximum Dates

In [4]:
# Get the earliest and latest account opening dates
date_extremes = (data["AccOpen"].min(), data["AccOpen"].max())
print("Minimum and Maximum Account Open Dates:", date_extremes)

Minimum and Maximum Account Open Dates: (Timestamp('2020-01-01 00:00:00'), Timestamp('2032-02-23 00:00:00'))

## 3. Calculating Age of Accounts

In [5]:
# Calculate account age in days (assuming today's date)
today = pd.to_datetime("2024-03-16")
data["Age_in_Days"] = (today - data["AccOpen"]).dt.days
print(data[["AccOpen", "Age_in_Days"]].head())

     AccOpen  Age_in_Days
0 2020-01-01         1536
1 2021-01-01         1170
2 2020-02-02         1504
3 2021-02-02         1138
4 2020-03-03         1474

## 4. Extracting Month/Year

In [6]:
# Extract the month and year of account opening
data["Month"] = data["AccOpen"].dt.month_name()
data["Year"] = data["AccOpen"].dt.year
print(data[["AccOpen", "Month", "Year"]].head())

     AccOpen     Month  Year
0 2020-01-01   January  2020
1 2021-01-01   January  2021
2 2020-02-02  February  2020
3 2021-02-02  February  2021
4 2020-03-03     March  2020

## 5. Grouping and Aggregation by Date

We group data by the month extracted from the "AccOpen" date and then calculate the average balance for each month.

In [7]:
# Calculate monthly average balance
monthly_avg_balance = data.groupby(data["AccOpen"].dt.month)["Balance"].mean()
print("Monthly Average Balance:", monthly_avg_balance)

Monthly Average Balance: AccOpen
1      9550
2     11125
3      7600
4      7150
5     21500
6      8950
7      7500
8     10750
9      6500
10    26500
11    10800
12     8100
Name: Balance, dtype: int64

### Considerations

Explore functionalities like resample() for time-based resampling and dt.weekday for extracting weekdays.

Handle missing or invalid dates appropriately before performing aggregations.


By mastering these techniques, you can effectively analyze trends and patterns within your date-time data.